body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    position: relative;
    color: #00b5ca;
    background-image: url('../img/interstellar.jpg');;
}

h1, h2 {
	text-align: center;
	position: relative;

}

p {
	padding: 5px;
	font-size: 20px;
	color: #00FF99;
	text-align: center;
}

img {
	border: 2px solid #CC0099;
	max-width: 100px;
	padding: 2px;
	margin: 1px;
}

#redirects {
	text-align: center;
	}

#game-board {
	max-width: 440px; 
	padding-bottom: 20px;
	left: 30%;
}

#game-board img {
	border: 5px solid #a86bf0;
	max-width: 100px;
	padding: 2px;.
	margin: 1px;
}

#gameStats {
	text-align: center;
}
